body{
    color:#40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;

    
}
p{
    line-height: 2;
}
h1{
font-size: 5.625em;  /*em used for dynamic size changing based on browser it also inherites its previous value and add to not do that we use rem*/
   width: 50%;
   margin: 0 auto 0 auto;
   font-family: 'Sacramento', cursive;
   color: #66BFBF;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.hh1{
    font-size: 2.5rem ;
    margin: 0 auto 0 auto;
    color: #66BFBF;
    font-weight: normal;
}


h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: antiquewhite;
    position: relative;
    padding-top: 100px;
    
}
.middle-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 20px;
}
a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color:#EAF6F6;
}
.intro{
    width: 30%;
    margin: 0 auto 0 auto;
}



.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position : absolute;
    left: 250px;
    bottom: 300px;
}
.img2{
    float:left;
    margin: 30px;
}
.img3{
    float:right;
    margin: 30px;

}
.cmessage{
    width: 25%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    padding: 20px 0;
    color: #EAF6F6;
    font-size: 0.75rem;
  }